.apMainDiv {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.apBtn {
  background-color: rgb(137, 72, 203);
  color: whitesmoke;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}
.apBtn:hover {
  background-color: rgb(120, 64, 200);
}
