.ct-outer-div {
  padding: 0.5rem 1rem;
  display: flex;
  gap: 1rem;
}
.ct-key-div {
  width: 80%;
  padding: 0.25rem;
  border: 0.5px solid gray;
  border-radius: 0.25rem;
  max-height: 5rem;
  overflow: scroll;
}
.ct-value-div {
  background-color: white;
  padding: 0.25rem;
  width: 20%;
  border-radius: 0.25rem;
  text-align: center;
  max-height: fit-content;
  margin: auto;
}
.positive {
  border: 2px solid rgb(12, 193, 12);
}
.negative {
  border: 2px solid rgb(128, 2, 2);
}
.neutral {
  border: 2px solid rgb(6, 6, 230);
}
.bottom-hr {
  width: 95%;
  margin: auto;
}
.ct-title{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}
.ct-list {
  box-shadow: 0 1.5rem 2rem -1rem rgba(0, 0, 0, 0.3),
    0 1rem 1.5rem -1px rgba(0, 0, 0, 0.18);
  border-radius: 0.25rem;
  padding: 1rem;
  height: 100vh;
  overflow: scroll;
}
