body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgba(80, 80, 80, 0.2);
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 10px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 25px;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

a:hover {
  color: blue;
}

.right-section {
  display: flex;
  align-items: center;
}

.profile {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.left-section span {
  font-weight: bold;
}

.button {
  background-color: blue;
  color: white;
  margin-right: 20px;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.banner {
  width: 1100px;
  max-width: 70%;
  height: 600px;
  margin: 50px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 60px;
  background: url("background.jpeg");
  background-size: cover;
  color: #fff;
  border-radius: 10px;
  position: relative;
}

.content {
  height: 200px;
  width: 100%;
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
  margin-top: 20%;
  margin-left: 10%;
}

.banner h2,
.banner p,
.banner-button {
  color: #fff; /* Set text color to white */
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.banner h2 {
  font-size: 60px;
}

.banner-button {
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px; /* Adjust the top margin of the button */
}

.box-title {
  width: 80%;
  margin: auto;
}

.boxes-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1200px;
  margin: auto;
}
.box-title {
  width: 80%;
  max-width: 1200px;
}
.box {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: 1px solid rgba(80, 80, 80, 0.2);
  border-radius: 8px;

  max-width: 400px;
  width: 100%;
}

.box i {
  font-size: 30px;
  margin-bottom: 10px;
  color: #333;
}

.box h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.box p {
  font-size: 16px;
  color: #666;
}

.gallery {
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  max-width: 1200px;
}

.gallery-item {
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 250px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

@media (min-width: 768px) {
  .box {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .banner h2 {
    font-size: 60px;
  }
  .box {
    width: 30%;
  }
}
